<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DIS.careerlogy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_careerlogy_new_logo_01"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_careerlogy_new_logo_01"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Disclamer"></activity>
        <activity
            android:name=".Acivity.ProfileActivity"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.AnswertheQuestionActivity"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.UploadFile"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.YoutubeLinkUpload"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.AdminQuestionList"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".AdminDash"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.QuestionHistory"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.QuestionList"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.AskQuestionEntrepreneur"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Acivity.AskQuestionStudent"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Acivity.UserVerification"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.EntrepreneurSubCategory"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Acivity.StudentSubCategory"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".Registration"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_files" />
        </provider>

    </application>

</manifest>